<div class="col-xs-12 col-md-6">
    <div class="card embed-responsive embed-responsive-4by3">
        <img src="https://media.giphy.com/media/3oz8xTCYSedZluuLtK/giphy.gif" class="img-responsive" alt="ghouls" style="width:100%">
    </div>
</div>