<div class="col-xs-12 col-md-6">
    <form action="/" method="post">
        <input type="text" name="from-name" class="form-control" placeholder="Your Name" maxlength="70" required><br />
        <input type="email" name="from-email" class="form-control" placeholder="Your Email" required><br />
        <input type="text" name="to-name" class="form-control" placeholder="Your Friend's Name" maxlength="70" required><br />
        <input type="email" name="to-email" class="form-control" placeholder="Your Friend's Email" required><br />
        <textarea name="subject" class="form-control" placeholder="Message Subject" rows="1" maxlength="123" required></textarea><br />
        <textarea name="message" class="form-control" placeholder="Your Message" rows="5" maxlength="630" required></textarea><br />
        <button type="submit">Send</button>
    </form>
</div>