<div class="container text-center">
	<h2 class="text-center">Send this to a friend!</h2>
    <div class="row">
        <!--Card-->
        <div class="col-xs-12 col-md-6">
			<div class="embed-responsive embed-responsive-4by3">
                <img src="https://media.giphy.com/media/3oz8xTCYSedZluuLtK/giphy.gif" class="img-responsive" alt="ghouls" style="width:100%">
            </div>
		</div>
        <!--Form-->
        <div class="col-xs-12 col-md-6">
            <form action="/" method="post">
				<input class="form-control from-name" type="text" name="from-name" placeholder=" Your Name"  maxlength="70" required><br/>
				<input class="form-control" type="email" name="from-email" placeholder=" Your Email" required><br/>
				<input class="form-control" type="text" name="to-name" placeholder=" Your Friend's Name" maxlength="70" required><br/>
				<input class="form-control" type="email" name="to-email" placeholder=" Your Friend's Email" required><br/>
				<textarea class="form-control" name="subject" placeholder=" Message Subject" rows="1" maxlength="123" required></textarea><br/>
				<textarea class="form-control" name="message" placeholder=" Your Message" rows="5" maxlength="630" required></textarea><br/>
				<button class="btn btn-default pull-right" type="submit">Send</button>
			</form>
		</div>
	</div>
</div>

