<div class="container">
    <h1 class="text-center">Send this Halloween Greeting to a friend!</h1>
    <div class="row">
        <!--Card-->
        <div class="col-xs-12 col-md-8 mediabox">
            <div class="embed-responsive embed-responsive-4by3">
                <img src="https://media.giphy.com/media/3oz8xTCYSedZluuLtK/giphy.gif" class="img-responsive" alt="ghouls" style="width:100%">
            </div>
        </div>
        <!--Form-->
        <div class="col-xs-12 col-md-4 textbox">
            <form action="/" method="post">
                <input type="text" name="from-name" class="form-control" placeholder="Your Name"  maxlength="250" required>
                <input type="email" name="from-email" class="form-control" placeholder="Your Email" required>
                <input type="text" name="to-name" class="form-control" placeholder="Your Friend's Name" maxlength="250" required>
                <input type="email" name="to-email" class="form-control" placeholder="Your Friend's Email" required>
                <input type="text" name="subject" class="form-control" placeholder="Message Subject" rows="1" maxlength="200" required></textarea>
                <textarea id="message" name="message" class="form-control" placeholder="Your Message (800 characters max)" max-width="fixed" rows="8" maxlength="800" required></textarea>
                                <!-- from https://www.bootply.com/uGGf9Tf4LS <script>
                    var text_max = 800;
$('#count_message').html(text_max + ' remaining');

$('#message').keyup(function() {
  var text_length = $('#message').val().length;
  var text_remaining = text_max - text_length;
  
  $('#count_message').html(text_remaining + ' remaining');
});
                    </script> -->s
                <h6 class="pull-right" id="count_message"></h6>

                <div class="checkbox-inline">
                    <label>
                    <input type="checkbox" name="tandcagree" value="" required>I agree to the <a>Terms and Conditions</a>
                    </label>
                    </div>
                <div class="g-recaptcha" data-sitekey="6LeO8zAUAAAAAGSJRmMOqIAv3eVYD6LJp5KrxV0l"></div>
                <button class="pull-right" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>

