 <div class="preview container text-center">
	<h1 class="text-center">Send this Halloween Greeting to a friend!</h1>
    <div class="row">
        <!--Card-->
        @Html.Partial("_Card")
        <!--Form-->
        @Html.Partial("_Form")
	</div>
</div>

